.cart-item__img{
    height: 65px;
    object-fit: contain;
    width: 20%;

}

.itemQty{
    vertical-align: center;
}

.itemQty button{
    font-size: 14px;
    color: #0F1111;
}

.itemQty button:hover{
  color: #0F1111;
}

.itemQty button:focus{
    color: #0F1111;
}