html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*---------------Loading Css*/
@import url("./navbar.css");
@import url("./loading.css");
@import url("./product.css");
@import url("./cart.css");
@import url("./cartItem.css");