.cart{
   display: flex!important;
   flex-direction: row!important;
}
.cart-Icon{
   position: relative!important;
   margin-right: 10px;
}

.cart-notification{
   position: absolute;
   background: #138496;
   top: -10px;
   right: -10px;
   /*opacity: 0.9;*/
   border-radius: 50%;
   text-align: center;
   color: white;
   font-weight: 500;
   height: 20px;
   width: 20px;
   /*padding: 3px 6px;*/
   font-size: 13px;
}