.productCard{
    /*box-shadow: 0px 0px 15px #e2e2e2;*/
    /*background: #fff;*/
    border: none!important;
    transition: all .2s ease-in-out;
}

.productCard:hover{
    transform: scale(1.03);
}
.productCard .card-img-top {
    height: 150px;
    object-fit: contain;

}

.product__description{
    font-weight: 400!important;
    color: #0F1111;
    font-size: 16px;
}

.quantitySelector button{
    border-radius: 0;
    border: none;
}
.quantitySelector__qty{
    background: #138496!important;
    border: none;
}

.quantitySelector__plus{
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    /*border-radius: 10px!important;*/
}

.quantitySelector__minus{
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}